body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  max-width: 1800px; 
  margin: auto; 
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.trangchu {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tieudead {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.tieudead h1 {
  margin: 0;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.boxtrai {
  width: 20%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  min-height: calc(100vh - 80px);
}

.boxphai {
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-left: 1px solid #ccc;
}

.logoam img {
  display: block;
  margin: auto;
}

.hieuung ul {
  list-style-type: none;
  padding: 0;
}

.hieuung li {
  margin: 10px 0;
}

.hieuung a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.hieuung a:hover {
  background-color: #575757;
}

.tieudeb h2 {
  text-align: center;
  color: #333;
}

.bang,
.bangl {
  width: 100%;
  margin: auto;
}

.bang input,
.bang textarea,
.bang select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nut {
  text-align: center;
}

.nut input[type="submit"],
.nut input[type="button"] {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nut input[type="submit"]:hover,
.nut input[type="button"]:hover {
  background-color: #45a049;
}

.foter {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: #fff;
  margin-top: 20px;
}

.odm {
  display: flex;
  justify-content: space-between;
}

.tima,
.odmm {
  padding: 10px;
  margin: 10px;
}

.tima {
  flex: 1;
}

.odmm {
  flex: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  display: block;
  margin: auto;
}

.confim {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.confim:hover {
  background: #0056b3;
}
